.promo {
    position: relative;
    padding-top: 127px;
    padding-bottom: 64px;
    z-index: 6;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 951px;
        height: 566px;
        background: url('../img/promo/promo-bg.png') no-repeat;
    }
    &__image {
        position: absolute;
        top: 0;
        right: 22%;
        z-index: 3;
    }
    &__image-mobile {
        display: none;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__title-block {
        position: relative;
        padding: 17px 26px 18px 0;
        width: 820px;
        background: #D8252C;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-bottom: 13px;
        &::before {
            content: '';
            position: absolute;
            left: -180px;
            top: 0;
            width: 180px;
            height: 125px;
            background: #D8252C;
        }
    }
    &__title {
        font-family: 'Montserrat Bold', sans-serif;
        font-weight: 800;
        font-size: 37px;
        line-height: 45px;
        color: #FFFFFF;
    }
    &__subtitle-block {
        position: relative;
        width: 660px;
        background: #456481;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        padding: 5px 25px 5px 0;
        margin-bottom: 25px;
        &::before {
            content: '';
            position: absolute;
            left: -180px;
            top: 0;
            width: 180px;
            height: 49px;
            background: #456481;
        }
    }
    &__subtitle {
        font-family: 'Montserrat Semibold', sans-serif;
        font-size: 32px;
        line-height: 39px;
        color: #FFFFFF;
    }
    &__text-bold {
        font-family: 'Montserrat Black', sans-serif;
        font-size: 28px;
        line-height: 34px;
        color: #03192E;
    }
    &__text-ttu {
        font-family: 'Montserrat Black', sans-serif;
        font-size: 28px;
        line-height: 34px;
        color: #D8252C;
    }
    &__text-descr {
        font-family: 'Montserrat Medium', sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: #03192E;
        &--bold {
            font-family: 'Montserrat Black', sans-serif;
        }
    }
    &__content-descr {
        font-family: 'Montserrat Medium', sans-serif;
        width: 541px;
        font-size: 20px;
        line-height: 24px;
        color: #03192E;
        margin-bottom: 20px;
    }
    &__button {
        width: 263px;
        height: 60px;
    }
}